<div class="oc-card-notice__boletin notice-{{color}} {{#if video}}type-video{{/if}}" id="card-notice-boletin">
    <a href="#" class="position-relative d-block" {{#if video}}data-toggle="modal" data-target="#exampleModal"{{/if}}>
        <img src="{{image_url}}" alt="" class="mb-3 d-block img-notice img-notice-large">
        {{#if video}}
            <div class="oc-boletin-card__author__caption">
                <img src="/img/boletin-play-video.svg" alt="">
            </div>
        {{/if}}
    </a>
    <div class="pl-2">
        <span class="b-block etiqueta-tema">{{etiqueta}}</span>
        <a href="{{link_boton}}" class="link-title-bol"><h3 class="title-bol mt-2">{{titulo}}</h3></a>
        <hr class="separator-title">
        <p class="text-boletin">
            {{contenido}}
        </p>
        <a href="{{link_boton}}" class="oc-btn oc-btn__gray ml-0">
            {{texto_boton}}
            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
        </a>
    </div>
</div>